<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-FR" xmlns:og="http://ogp.me/ns#" ng-app="angunotes">
<head>
	<title>Angu-Notes - Keep your mind in notes, faster</title>
	<meta name="description" content="Projet démo de gestion de notes sous Angular.js. Aucun langage serveur, tout se passe sous javaScript." />
	<meta name="author" content="Xavier Boubert http://xavierboubert.fr" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body ng-app>

	<div class="body-container" ng-controller="AnguNotesCtrl">

		<header class="body-header">

			<div class="logo">
				<h1>Angu<span>Notes</span></h1>
				<div class="circle red"></div>
				<div class="circle yellow"></div>
				<div class="circle green"></div>
				<div class="circle orange"></div>
				<div class="circle blue"></div>
			</div>

			<section class="website-description" rel="description">
				<p>
					Projet démo de gestion de notes sous Angular.js.<br />
					Aucun langage serveur, tout se passe sous javaScript.
				</p>
				<p class="link-github">
					Vous pouvez retrouver tous les détails du projet sur <a href="https://github.com/XavierBoubert/angu-notes" target="_blank">sa page GitHub</a>
				</p>
			</section>

			<div class="clear"></div>
		</header>

		<form class="add-note" ng-submit="addNote()">
			<input id="add-note-input" type="text" class="input-text" ng-model="newNoteTitle" placeholder="Nouvelle note" />
			<input type="submit" class="submit-invisible" />
		</form>

		<div class="first-time" ng-show="!notes.length">
			<p>
				Commencez par ajouter une première note en utilisant le champs texte juste au dessus.
			</p>
			<p>
				Chaque note ajoutée sera enregistrée dans votre navigateur et ce même si vous le fermez.
			</p>
		</div>

		<div id="operations" class="operations" ng-show="notes.length>0">
			<label class="label">Filtre :</label>
			<div class="label-input">
				<input type="text" class="input-text" ng-model="query" />
			</div>
			<div class="clear"></div>
		</div>

		<section id="notes-list" class="notes" class="ui-sortable">

			<article id="note-{{note.id}}" class="ui-state-default note template-{{note.template}} {{note.open}}" ng-repeat="note in notes | filter:query | orderBy:predicate:reverse">
				<header>
					<h1 ng-click="openNote(note)">{{note.title}}</h1>
					<input id="note-title-{{note.id}}" type="text" class="input-text" value="{{note.title}}">
					<time datetime="{{note.date | date:'yyyy-MM-dd HH:mm'}}">{{note.date | date:'dd/MM/yyyy HH:mm'}}</time>
				</header>
				<div class="note-content">
					<form ng-submit="updateNote(note)">
						<textarea id="note-content-{{note.id}}" class="input-text">{{note.content}}</textarea>
						<input type="submit" value="Enregistrer" class="input-button button-save" />
						<input ng-click="cancelUpdateNote(note)" type="button" value="Annuler" class="input-button button-cancel" />
					</form>
				</div>
				<div class="cross-icon" ng-click="removeNote(note)"></div>
			</article>

		</section>

		<footer class="body-footer">
			<p>
				&copy; <time datetime="2013" rel="copyright">2013</time> <a href="http://xavierboubert.fr" rel="author" target="_blank">Xavier Boubert</a>
			</p>
		</footer>

	</div>

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
	<!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script-->
	<script type="text/javascript" src="angu-notes.js"></script>
</body>
</html>

