/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@keyframes logo-bounce {
	from {
		transform: translateY(-10%);
	}
	to {
		transform: translateY(0);
	}
}
@-webkit-keyframes logo-bounce {
	from {
		-webkit-transform: translateY(-10%);
	}
	to {
		-webkit-transform: translateY(0);
	}
}

.clear, .clear-display {
	clear: both;
}

.clear-display {
	height: 1px;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.input-text {
	width: 100%;
	border-radius: 500px;
	border: 1px solid #D8DDE5;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.4;
	color: #555;
	font-weight: bold;
	background-color: white;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-text:focus {
	border-color: #66AFE9;
	outline: 0;
	-webkit-transition: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	-moz-transition: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	-ms-transition: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	-o-transition: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

textarea.input-text {
	border-radius: 4px;
}

body {
	font-family: 'Open Sans', Arial;
	font-size: 14px;
	font-weight: 300;
	color: #717171;
}

p {
	margin: 1em 0;
	line-height: 18px;
}

ul {
	padding-left: 1.3em;
}

li {
	list-style: disc;
	padding: 0.2em 0;
}

.body-container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.body-header {
	position: relative;
	color: black;
}

.logo {
	width: 10em;
	height: 10em;
	margin: 1em 0 0 1em;
	position: relative;
	overflow: hidden;
	float: left;
}

.logo h1 {
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 2.3em;
	margin-top: 30%;
	color: white;
	animation: logo-bounce 1.5s infinite alternate;
	-webkit-animation: logo-bounce 1.5s infinite alternate;
	text-shadow: 0px 2px 0px #444;
	filter: dropshadow(color=#444, offx=0, offy=2);
	z-index: 1;
}

.logo h1 span {
	display: block;
	text-indent: 29%;
}

.logo .circle {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.logo .circle.red {
	background: rgba(163,41,15,.8);
	transform: translateY(0) translateX(50%);
	-ms-transform: translateY(0) translateX(50%);
	-webkit-transform: translateY(0) translateX(50%);
}
.logo .circle.yellow {
	background: rgba(241,204,42,.8);
	transform: translateY(50%) translateX(100%);
	-ms-transform: translateY(50%) translateX(100%);
	-webkit-transform: translateY(50%) translateX(100%);
}
.logo .circle.green {
	background: rgba(85,147,60,.8);
	transform: translateY(100%) translateX(75%);
	-ms-transform: translateY(100%) translateX(75%);
	-webkit-transform: translateY(100%) translateX(75%);
}
.logo .circle.orange {
	background: rgba(220,111,28,.8);
	transform: translateY(100%) translateX(25%);
	-ms-transform: translateY(100%) translateX(25%);
	-webkit-transform: translateY(100%) translateX(25%);
}
.logo .circle.blue {
	background:rgba(74,133,200,.8);
	transform: translateY(50%) translateX(0);
	-ms-transform: translateY(50%) translateX(0);
	-webkit-transform: translateY(50%) translateX(0);
}

.website-description {
	padding: 0 1em 0 16em;
	margin-top: 1em;
}

.website-description p {
	font-size: 2em;
	line-height: 1.5em;
}

.website-description .link-github {
	font-size: 1.2em;
}

.first-time {
	margin-top: 4em;
	padding: 0 1em;
}

.first-time p {
	font-size: 2em;
	color: #4A85C8;
	line-height: 1.5em;
}

.operations {
	margin-top: 4em;
	padding: 0 1em;
}

.operations label {
	float: left;
	font-weight: bold;
	line-height: 35px;
	width: 60px;
}

.operations .label-input {
	padding-left: 75px;
	width: 250px;
}

.add-note {
	margin-top: 4em;
	padding: 0 95px 0 1em;
}

.add-note .input-text {
	font-size: 18px;
	padding: 6px 40px;
	height: 35px;
	text-align: center;
}

.submit-invisible {
	display: none;
}

.input-button {
	display: inline-block;
	color: white;
	background: #92CF5C;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.4em;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	border: none;
}

.button-save {
	background: #92CF5C;
	margin-top: 1em;
}

.button-cancel {
	background: #CF5C5C;
	margin: 1em 0 0 1em;
}

.notes {
	margin-top: 0.5em;
	padding: 0 1em;
}

.note {
	cursor: default;
	position: relative;
	margin-top: 10px;
	color: white;
	border-radius: 2px;
	border-bottom: 5px solid black;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.note:active {
	cursor: move;
	margin-top: 15px;
	border-bottom-width: 0;
}

.note.open:active {
	cursor: default;
	margin-top: 10px;
	border-bottom-width: 5px;
}

.note.template-1 {
	background-color: #6ED4F4;
	border-bottom-color: #52C0E3;
}
.note.template-1 .note-content {
	background: #52C0E3;
}

.note.template-2 {
	background-color: #A6D87A;
	border-bottom-color: #80B551;
}
.note.template-2 .note-content {
	background: #80B551;
}

.note.template-3 {
	background-color: #F46E6E;
	border-bottom-color: #D64949;
}
.note.template-3 .note-content {
	background: #D64949;
}

.note.template-4 {
	background-color: #F4B16E;
	border-bottom-color: #D1883F;
}
.note.template-4 .note-content {
	background: #D1883F;
}

.note header {
	padding: 1em;
}

.note header h1 {
	font-weight: bold;
	font-size: 1.7em;
	float: left;
	cursor: text;
	padding: 4px 20px 5px;
}

.note.open header h1 {
	display: none;
}

.note header h1:hover {
	padding-left: 10px;
	border-left: 10px solid white;
}

.note.template-1 header h1:hover {
	border-left-color: #52C0E3;
}

.note.template-2 header h1:hover {
	border-left-color: #80B551;
}

.note.template-3 header h1:hover {
	border-left-color: #D64949;
}

.note.template-4 header h1:hover {
	border-left-color: #D1883F;
}

.note header input {
	display: none;
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
}

.note.open header input {
	display: inline;
}

.note header time {
	clear: both;
	padding: 1.5em 0 0 20px;
	display: block;
	font-weight: bold;
	font-size: 0.7em;
}

.note-content {
	display: none;
	height: 0px;
	overflow: hidden;

	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	-ms-transition: height 0.4s;
	-o-transition: height 0.4s;
	transition: height 0.4s;
}

.note.open .note-content {
	display: block;
	height: 360px;

	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	-ms-transition: height 0.4s;
	-o-transition: height 0.4s;
	transition: height 0.4s;
}

.note-content form {
	height: 330px;
	padding: 1em 2.2em;
}

.note-content form textarea {
	height: 270px;
	background: white;
	width: 98%;
}

.cross-icon,
.cross-icon:before,
.cross-icon:after {
  position: absolute;
  top: 3px;
  right: 11px;
  width: 5px;
  height: 20px;
  background: white;
	cursor: pointer;

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.cross-icon {
  transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);

	-moz-opacity: 0.9;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
}

.cross-icon:before,
.cross-icon:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -7px;
  width: 20px;
  height: 5px;
}
.cross-icon:hover, .cross-icon:hover:before, .cross-icon:hover:after {
	background: #B50D0D;

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.cross-icon:hover {
  transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);

	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.body-footer {
	padding: 1em;
}


@media screen and (max-width: 770px) {

	.website-description {
		padding-left: 1em;
		clear: both;
	}

	label {
		float: none;
		display: block;
	}

	.label-input {
		float: none;
		width: 90%;
		margin: 0;
	}

}